body {
    font-family: sans-serif;
    margin: 25px;
    background-color: gray; 
}

.byui-logo {
    width: 120px;
    height: 120px;
}

.me {
    width: 500px;
}

.div-info {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

ul:hover {
    background-color: yellow;
    color: aquamarine;
}

a:link {
    background-color: white;
    color: black;
    border: 2px solid skyblue;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: tomato;
    color: aquamarine;
    text-decoration: none;
}

.content {
    margin: 50%;
    font-size: 50px;
    text-align: center;
}