body {
    font-family: sans-serif;
    margin: 25px;
    background-color: gray; 
}

.byui-logo {
    width: 120px;
    height: 120px;
}

.me {
    width: 500px;
}

.div-info {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
}

ul.ul-assign:hover {
    background-color: yellow;
    color: aquamarine;
    text-decoration: none;
    font-weight: bold;
}

a.a-header:link, a.a-header:visited {
    background-color: white;
    color: black;
    text-decoration: none;
    display: inline-block;
}

a.a-header:hover {
    background-color: gray;
    color: yellow;
    border: 2px solid gray;
    text-decoration: none;
    font-weight: bold;
}

.div-content {
    font-size: 50px;
    text-align: center;
}

.div-header {
    margin-left: 25%;
    text-align: end;
    background-color: white;
}